# Byte-compiled / optimized / DLL files
__pycache__/

# Unit test / coverage reports
.coverage
.coverage.*
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# mypy
.mypy_cache/

# vscode
.vscode

# data files
WSF*.tif
*.ipynb
items.json
items.ndjson
